<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GithubShokunin.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1392</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1404</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1428</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1435</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1440</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1447</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2058</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2074</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2076</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2077</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2086</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2089</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2106</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2125</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2137</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2159</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2167</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2187</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2207</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2219</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2254</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2276</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2288</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2289</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2301</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2310</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2322</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2333</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2345</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2404</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2406</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2407</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2416</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2418</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2419</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2537</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2549</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2633</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2645</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2660</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2686</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2698</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2707</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2716</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2719</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2734</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2746</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2796</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2837</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2849</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2892</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2904</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2945</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2957</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3032</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3034</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3046</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3187</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3199</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3265</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3277</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3345</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3357</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3513</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3525</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
